* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: floralwhite;
}

#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

